@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Kanit', sans-serif;
    color: #ffc107;
}

.dashboardContainer {
    overflow-x: auto;
    background-color: #090909;
    margin-left: 18vw;
    padding-bottom: 1.5rem;
}
.userDashboardContainer {
  overflow-x: auto;
  background-color: #090909;
}

.grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    margin-top: 1.5rem;
    color: #fff;
    width: 75vw;
    margin-left: 3%;
    height: 100vh;
}
    .rowOne {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
    .rowOne > div {
      background-color: #212121;
      border-radius: 10px;
    }
    .rowOne > div:hover {
        background-color: #191919;
      }
    .gridContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 65%;
        text-shadow: 2px 2px 4px #000000;
      }
    .gridContent > p {
        font-weight: 700;
        font-size: 4rem;
        text-shadow: 5px 5px 8px #000000;
        /*margin-top: 15%;*/
    }

    .gridHeader {
        padding-top: 10px;
        text-shadow: 5px 5px 8px #000000;
      }
      .gridHeader > h3 {
        margin-bottom: 0px;
      }
    .rowTwo {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      height: 50%;
    }
    .rowTwo > div {
        background-color: #212121;
        border-radius: 10px;
      }
      .rowTwo > div > h3 {
        padding-top: 10px;
        margin-bottom: 0px;
      }
      .rowTwo > div:hover {
        background-color: #191919;
      }

    .iconContainer {
        background-color: #000;
        border-radius: 50%;
        width: 100px;
        height: 100px;
       
    }

  
.btnPrimary {
  background-color: #ffc107;
  padding: 8px 12px;
  margin: 1rem;
}

.btnPrimary:hover {
  background-color: #eeb300;
  padding: 8px 12px;
  margin: 1rem;
}

.btnSec {
  background-color: #151515;
  padding: 6px 12px;
  margin: 1rem;
  color: #fff
}
.btnSec:hover {
  background-color: #2c2c2c;
  padding: 6px 12px;
  margin: 1rem;
  color: #fff
  
}

.btnDelete {
  background-color: #eeb300;
  padding: 8px 12px;
  margin: 0.5rem;
}

.btnMargin {
  margin-right: 0.25rem;
}

.btnMargin:hover {
  margin-right: 0.25rem;
}

.deleteIcon {
  margin-top: 26px;
  padding-right: 14px;
  cursor: pointer
}

.deleteIcon:hover {
  margin-top: 26px;
  padding-right: 14px;
  cursor: pointer;
  color: red;
}
.editIcon {
  margin-top: 26px;
  padding-right: 14px;
  cursor: pointer
}

.editIcon:hover {
  margin-top: 26px;
  padding-right: 14px;
  cursor: pointer;
  color: rgb(0, 221, 51);
}
.viewIcon {
  margin-top: 26px;
  cursor: pointer
}

.viewIcon:hover {
  margin-top: 26px;
  cursor: pointer;
  color: rgb(0, 72, 255);
}






@media only screen and (max-width: 480px) {
  .dashboardContainer {
    overflow-x: auto;
    overflow: hidden;
    background-color: #090909;
    margin-left: 0;
    padding-top: 10vh;
  }
  .grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
    margin-top: 0rem;
    color: #fff;
    width: 94%;
}
    .rowOne {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      height: 30%;
      gap: 0.5rem;
    }
    .rowOne > div {
      background-color: #212121;
      border-radius: 10px;
    }
    .rowOne > div:hover {
        background-color: #191919;
      }
    .gridContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 65%;
        text-shadow: 2px 2px 4px #000000;
      }
    .gridContent > p {
        font-weight: 700;
        font-size: 4rem;
        text-shadow: 5px 5px 8px #000000;
        /*margin-top: 15%;*/
    }

    .gridHeader {
        padding-top: 10px;
        text-shadow: 5px 5px 8px #000000;
      }
      .gridHeader > h3 {
        margin-bottom: 0px;
      }
    .rowTwo {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem;
      height: 50%;
    }
    .rowTwo > div {
        background-color: #212121;
        border-radius: 10px;
      }
      .rowTwo > div > h3 {
        padding-top: 10px;
        margin-bottom: 0px;
      }
      .rowTwo > div:hover {
        background-color: #191919;
      }

    .iconContainer {
        background-color: #000;
        border-radius: 50%;
        width: 100px;
        height: 100px;
       
    }

  
.btnPrimary {
  background-color: #ffc107;
  padding: 8px 12px;
  margin: 1rem;
}

.btnPrimary:hover {
  background-color: #eeb300;
  padding: 8px 12px;
  margin: 1rem;
}

.btnDelete {
  background-color: #eeb300;
  padding: 8px 12px;
  margin: 1rem;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
  background-color: rgba(9,9,9,0.9) !important;
}
.ReactModal__Content, .ReactModal__Content--after-open {
  background: #212121 !important;
  border-radius: 10px !important;
  inset: 0.5rem !important;
}
}