.topbar {
    display: flex;
    align-items: left !important;
    color: #fff;
}

.topBarContainer {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 2rem;
}

.topBarContainer > span {
    text-align: left;
}

.highlight {
    color: #eeb300;
}

@media only screen and (max-width: 480px) {
    .topbar {
        margin-top: 0rem;
        padding-bottom: 1rem;
    }
}