@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Kanit', sans-serif;
    color: #ffc107;
}

section {
position: fixed;
  left: 0;
  background-color: #212121;
  height: 100vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
}
  .top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
    .toggle {
      display: none;
    }

    .brand {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    
    .links {
      display: flex;
      justify-content: center;
    }
      .links > ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0px;
      }
        .links > ul > li > button {
          padding: 0.6rem 1rem;
          border-radius: 0.6rem;
        }
          .links > ul > li > a > svg {
            margin: 5px 0px;
  
        }
         .links > ul > li > button:hover {
            background-color: #ffc107;
            color: black;
         }
         
            .links > ul > li > a {
            text-decoration: none;
            display: flex;
            gap: 1rem;
            color: #fff;
          }
        
        .active {
          background-color: #ffc107;
        }
          .active > a {
            color: black;
          }

          .menuBtn {
            background: rgba(1, 1, 1, 0);
            border: 0px solid black;
            color: #fff;
          }
          .menuIcon {
            padding-right: 6px
          }

  .logout {
    margin-top: -200px;
    padding: 0.3rem 1rem;
    border-radius: 0.6rem;
    color: #fff;
    cursor: pointer;
  }
    .logout:hover {
      background-color: #da0037;
    }
    .logout > a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: white;
    }

    .hamburgerMenu {
      display: none;
    }
  
  /* NAVBAR */
  .navbar {
    display: flex;
    flex-direction: column;
    justify-items: left;
    text-align: left;
    color: #fff;
    margin: 2rem 0rem;
}
  .navbar > p {
    margin: 0px;
    text-align: left;
}
  .navbar > p > span {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: #ffc107;
}






@media only screen and (max-width: 480px) {
  section {
    position: fixed;
      left: 0;
      background-color: #212121;
      height: 14%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 0;
      gap: 2rem;
    }
    .top {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      width: 100%;
  }
      .toggle {
        display: none;
      }
  
      .brand {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
      }
      
      .links {
        display: flex;
        justify-content: center;
        display: none;
      }
        .links > ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          padding: 0px;
        }
          .links > ul > li {
            padding: 0.6rem 1rem;
            border-radius: 0.6rem;
          }
            .links > ul > li > a > svg {
              margin: 5px 0px;
    
          }
           .links > ul > li:hover {
              background-color: #ffc107;
           }
              .links > ul > li:hover > a {
                color: black;
              }
            
              .links > ul > li > a {
              text-decoration: none;
              display: flex;
              gap: 1rem;
              color: #fff;
            }
          
          .active {
            background-color: #ffc107;
          }
            .active > a {
              color: black;
            }
  
    .logout {
      margin-top: -200px;
      padding: 0.3rem 1rem;
      border-radius: 0.6rem;
      color: #fff;
      cursor: pointer;
      display: none;
    }
      .logout:hover {
        background-color: #da0037;
      }
      .logout > a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
      }
    
    /* NAVBAR */
    .navbar {
      display: flex;
      flex-direction: column;
      justify-items: left;
      text-align: left;
      color: #fff;
      margin: 2rem 0rem;
  }
    .navbar > p {
      margin: 0px;
      text-align: left;
  }
    .navbar > p > span {
      font-family: 'Kanit', sans-serif;
      font-weight: 700;
      color: #ffc107;
  }
  .hamburgerMenu {
    display: flex;
  }
}