.landingGreeting {
    color: #000;
}

.landingContainer {
    display: flex;
    justify-content: center;
    height: 100vh;

    background-color: orange;
}

.landingContainer > div {
    width: 50%;
}