.workoutContainer {
    background: #212121;
    height: 50%;
    overflow: hidden;
    text-align: center;
    margin-top: 5%;
}
.flexCenter {
    display: flex;
    justify-content: center;
    text-align: center;
}


.btnPrimary {
    background-color: #ffc107;
    padding: 8px 12px;
    margin: 1rem 0rem;
  }
  
  .btnPrimary:hover {
    background-color: #eeb300;
    padding: 8px 12px;
    margin: 1rem 0rem;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    background-color: rgba(9,9,9,0.9) !important;
}
.ReactModal__Content, .ReactModal__Content--after-open {
    background: #212121 !important;
    border-radius: 10px !important;
    inset: 5rem !important;
}

.fontColor {
    color: #fff;
}

.marginInput {
    margin-bottom: 1.5rem
}

@media only screen and (max-width: 480px) {
.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    background-color: rgba(9,9,9,0.9) !important;
  }
  .ReactModal__Content, .ReactModal__Content--after-open {
    background: #212121 !important;
    border-radius: 10px !important;
    inset: 0.5rem !important;
  }
}