.cardStyle {
    padding: 25;
    border: "solid 1px";
    border-radius: 5;
    color: rgb(32, 32, 32);
    background-color: rgb(241, 241, 241);
    width: 340px;
    height: 350px;
}

.pointer {
    cursor: pointer;
}

.loginBtn {
    margin-top: 1.5rem;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: #fff;
    background:#191919;
}
.loginBtn:hover {
    margin-top: 1.5rem;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: #fff;
    background:#090909;
}
